[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Artem Shvorin
	email = a.shvorin@highloadlab.com
[core]
	excludesfile = /home/art/.git-excludesfile

[http]
	sslVerify = false
[alias]
	st = status
	log-svn = log --name-status
[push]
	default = simple
