[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Artem Shvorin
	email = art@shvorin.net
[core]
	excludesfile = /home/art/.git-excludesfile
	pager = less -F -X

[http]
	sslVerify = false
[alias]
	st = status
	log-svn = log --name-status
[push]
	default = simple
